
html {
	font-size : 62.5%;
}

body {
	font-family      : var(--f-family-sans-serif, 'Barlow', sans-serif);
	color            : var(--secondary-1);
	background-color : var(--neutral-1);
}

h2 {
	font-weight : 400;
}