* {
	scrollbar-color : $author-scrollbar-surface map-get($map-for-colors, "neutral-1");
}

*::-webkit-scrollbar {
	width : $author-scrollbar-size;
}

*::-webkit-scrollbar-thumb {
	background-color : $author-scrollbar-surface;
	border-radius    : 2rem;
}

*::-webkit-scrollbar-thumb:hover {
	background-color : $author-scrollbar-surface-hover;
}

html {
	font-size       : 62.5%;
	scroll-behavior : smooth;
}

body {
	font-family      : var(--f-sans-serif, 'Barlow', sans-serif);
	font-size        : var(--f-fluid-1);
	font-weight      : var(--f-weight-1);
	color            : var(--secondary);
	background-color : var(--neutral-1);
}

a {
	text-decoration : inherit;
	color           : var(--text, inherit);
	transition      : text-decoration 250ms;

	@media (hover : hover) {
		&:where(:hover, :focus-visible){
			text-decoration : none;
		}
	}

	& > :where(svg, path) {
		color : inherit;
		fill  : currentColor;
	}

	&[href^="tel:"] {
		text-decoration : underline;
	}
}