
html {
	font-size : 62.5%;
	scroll-behavior: smooth;
}

body {
	margin-inline    : auto;
	font-family      : var(--font-sans-serif, 'Barlow', sans-serif);
	font-size        : var(--f-fluid-1);
	font-weight      : var(--f-weight-1);
	color            : var(--secondary);
	background-color : var(--neutral-1);
	inline-size      : min(128rem, 87%);
}

a {
	text-decoration : inherit;
	color           : var(--text, inherit);
	transition      : text-decoration 250ms;

	&:hover,
	&:focus-visible {
		text-decoration : none;
	}

	& > :where(svg, path) {
		color : inherit;
		fill  : currentColor;
	}

	&[href^="tel:"] {
		text-decoration: underline;
	}
}

