
:where(.title-collection, .title-1, .title-2, .title-3, .title-4) {
	font-family : var(--font-serif);
	font-weight : var(--f-weight-4);
}

:where(.title-1, .title-2, .title-3, .title-4) + .description {
	margin-block-start : var(--space, 1.5rem);
}

.title-1 {
	font-size   : var(--f-fluid-4);
	line-height : var(--line-height-2);
}

.title-2 {
	font-size   : var(--f-fluid-3);
	line-height : var(--line-height-4);
}

.title-3 {
	font-size   : var(--f-fluid-2);
	line-height : var(--line-height-3);
}

.title-4 {
	font-size   : var(--f-size-4);
	line-height : var(--line-height-5);
}

.title-collection {
	z-index           : -1;
	margin-block-end  : calc(-1 * clamped(0rem, 7rem));
	padding-block-end : 4rem;
	font-size         : var(--f-fluid-5);
	line-height       : var(--line-height-1);
	color             : transparent;
	background-image  : linear-gradient(to bottom, var(--neutral-4), var(--neutral-1) 80%);
	background-clip   : text;
	opacity           : 0.4;
}

.description {
	font-size       : var(--f-fluid-1);
	line-height     : var(--line-height-7);
	max-inline-size : var(--measure-4);
}