
:root {
	@include generator($config);

	--f-family-sans-serif : 'Barlow', sans-serif;
	--f-family-serif      : 'Fraunces', serif;
}

.f-family-sans-serif {
	font-family : 'Barlow', sans-serif;
}

.f-family-serif {
	font-family : 'Fraunces', serif;
}
