
:root {
	@include generator($config);

	--font-sans-serif : 'Barlow', sans-serif;
	--font-serif      : 'Fraunces', serif;
}

.font-sans-serif {
	font-family : 'Barlow', sans-serif;
}

.font-serif {
	font-family : 'Fraunces', serif;
}

.text-center {
	text-align : center;
}

.block-center {
	margin-block : auto;
}

.inline-center {
	margin-inline : auto;
}

.inline-center\/tablet {
	@include breakpoint(max, tablet-md) {
		margin-inline : auto;
	}
}

.inline-center\/mobile {
	@include breakpoint(max, mobile-md) {
		margin-inline : auto;
	}
}

.sr-only {
	position    : absolute;
	overflow    : hidden;
	margin      : -1px;
	padding     : 0;
	width       : 1px;
	height      : 1px;
	white-space : nowrap;
	clip        : rect(0, 0, 0, 0);
	border      : 0;
}

.darken-image {
	&::before {
		content       : "";
		position      : absolute;
		z-index       : -1;
		inset         : 0;
		background    : hsla(0, 0%, 0%, 0.3);
		border-radius : inherit;
	}
}


.half-surface {
	--height         : 65%;
	--radius         : var(--radius-3);

	background-image : linear-gradient(to bottom, var(--surface, var(--secondary)) var(--height), var(--neutral-1) var(--height));
	position         : relative;
	z-index          : -1;
	padding-bottom   : 0;

	&::after {
		content          : "";
		position         : absolute;
		top              : var(--height);
		z-index          : -1;
		width            : 100%;
		display          : block;
		height           : var(--radius);
		border-radius    : 0 0 var(--radius) var(--radius);
		background-color : var(--surface, var(--secondary));
	}
}