
:root {
	@include generator($config);

	--font-sans-serif : 'Barlow', sans-serif;
	--font-serif      : 'Fraunces', serif;
}

.font-sans-serif {
	font-family : 'Barlow', sans-serif;
}

.font-serif {
	font-family : 'Fraunces', serif;
}

.sr-only {
	position    : absolute;
	width       : 1px;
	height      : 1px;
	padding     : 0;
	margin      : -1px;
	overflow    : hidden;
	clip        : rect(0, 0, 0, 0);
	white-space : nowrap;
	border      : 0;
}