@charset "UTF-8";
@import 'maps/map-for-colors';

$agent-size  : 16;
$author-size : 10;

$config      : (
		'font-types' : (
				'src' : $list-of-font-sizes,
		),
		'fluid-font-types' : (
				'src' : $list-of-fluid-font-sizes,
		),
		'color-types' : (
				'src' : $map-for-colors,
		),
)