
.section--features {

	.item {
		padding-inline : calc(var(--space-fluid-1) * 2);
		padding-block  : calc(var(--space-fluid-1) * 2);

		img {
			margin-inline   : auto;
			margin-block    : auto;
			max-inline-size : 7rem;
			aspect-ratio    : 1 / 1;
			object-fit      : contain;
		}
	}
}