
.accordion {
	//  Cool automatic solution for transition, but did not worked for phones.
	//--duration      : calc(1ms * (var(--length) / 2));
	//--duration-cut  : calc(-1ms * ((var(--ignore-length) / 100) * var(--length)));
	//--ignore-length : 8;
	//--length        : 1000;

	&__item {
		position          : relative;
		scroll-margin-top : var(--space-fluid-5);
	}

	&__item[data-disabled="true"] > :where(&__header, &__body) {
		opacity : 0.5;

		* {
			cursor : not-allowed;
		}
	}

	&__item[data-disabled="true"]:active {
		pointer-events : none;
	}

	&__item[data-disabled="true"]:where(:active, :hover)::before {
		content          : attr(data-disabled-message);
		position         : absolute;
		top              : 75%;
		padding          : .6em .8em;
		color            : var(--neutral-1);
		background-color : var(--secondary);
		border-radius    : var(--radius-1);
	}

	&__item[data-disabled="true"]:where(:active, :hover)::after {
		content       : "";
		position      : absolute;
		top           : 75%;
		left          : 5%;
		border-width  : 0 8px 9px 8px;
		border-style  : solid;
		border-color  : transparent transparent var(--secondary) transparent;
		border-radius : var(--radius-1);
		transform     : translateY(-75%);
	}

	&__header {
		user-select     : none;
		display         : flex;
		align-items     : center;
		justify-content : space-between;
		gap             : var(--space-3);
	}

	&__header > svg {
		transition  : transform 500ms;
		flex-shrink : 0;
		inline-size : 1.8rem;
		block-size  : 1.2rem;
	}

	&__header > svg[data-open="true"] {
		transform : rotate(-180deg);
	}

	&__header + &__body {
		margin-block-start : var(--space-6);
	}

	&__body {
		overflow   : hidden;
		//transition     : max-height var(--duration) var(--ease-out-3) var(--duration-cut);
		max-height : 0;
		transition : max-height 500ms var(--ease-out-3) -90ms;

		@include breakpoint(max, screen-md) {
			transition-duration: 700ms;
		}
	}

	&__body[data-open="true"] {
		//transition : max-height var(--duration) var(--ease-in-3);
		max-height : 1000px;
		transition : max-height 500ms var(--ease-in-3);

		@include breakpoint(max, screen-md) {
			transition-duration: 700ms;
		}
	}
}


