
.accordion {
	&__header {
		user-select     : none;
		cursor          : pointer;
		display         : flex;
		align-items     : center;
		justify-content : space-between;
		gap             : var(--space-3);
	}

	&__arrow {
		transition : transform 600ms;
		transform  : rotate(360deg);
	}

	&__arrow[data-open="true"] {
		transition : transform 600ms;
		transform  : rotate(180deg);
	}

	&__header + &__list {
		margin-block-start : var(--space-6);
	}

	&__list {
		overflow   : hidden;
		max-height : 0;
		transition : max-height 450ms ease-in-out;
	}

	&__list[data-open="true"] {
		max-height : 250px;
		transition : max-height 450ms ease-in-out;
	}

	&__card {
		cursor            : pointer;
		position          : relative;
		padding           : var(--space, var(--space-1));
		padding-block-end : calc(var(--space, var(--space-1)) * 2.5);
		color             : var(--text, var(--secondary));
		background-color  : var(--surface, var(--neutral-2));
		display           : block;
	}

	&__card:where(:hover, :focus-visible) {
		--surface : var(--tertiary);
	}

	&__item[data-checked="true"] {
		--surface : var(--primary);
		--text    : var(--neutral-1);
	}
}
