
.accordion {
	--open-in: 500ms;

	&__header {
		user-select     : none;
		cursor          : pointer;
		display         : flex;
		align-items     : center;
		justify-content : space-between;
		gap             : var(--space-3);
	}

	&__arrow {
		transition : transform var(--open-in);
		transform  : rotate(360deg);
	}

	&__arrow[data-open="true"] {
		transition : transform var(--open-in);
		transform  : rotate(180deg);
	}

	&__header + &__list {
		margin-block-start : var(--space-6);
	}


	&__list {
		overflow: hidden;
		max-height : 0;
		transition : max-height var(--open-in) var(--ease-out-3) -80ms;
	}

	&__list[data-open="true"] {
		max-height : 1000px;
		transition : max-height var(--open-in) var(--ease-in-3);
	}
}


