@use 'sass:color';

.btn-primary {
	&:where(&, :active, :visited) {
		--surface        : var(--primary);
		--text           : var(--neutral-1);

		padding-inline   : var(--inline-space, var(--space-2));
		font-family      : var(--f-serif);
		font-size        : var(--f-size-3);
		font-weight      : var(--f-weight-4);
		line-height      : var(--line-height-1);
		text-decoration  : none;
		text-transform   : capitalize;
		color            : var(--text);
		background-color : var(--surface);
		border-radius    : var(--radius-2);
		transition       : background-color 150ms;
		display          : inline-grid;
		justify-self     : start;
		place-items      : center;
		min-block-size   : 5.6rem;
		min-inline-size  : 21.7rem;
	}

	&:where(:hover, :focus-visible) {
		--surface : #{color.mix(white, map-get($map-for-colors, 'primary'), 30%)};
		outline   : none;
	}

	&[data-disabled="true"] {
		--surface      : var(--neutral-3);
		pointer-events : none;
	}
}

.btn-secondary {
	@extend .btn-primary;

	color            : var(--surface);
	background-color : var(--text);
	border           : 2px solid currentColor;

	&:where(:first-child, & + .btn-primary, :last-child) {
		min-inline-size : revert;
	}
}
