@use 'sass:color';

.btn-primary {
	&:where(&, :active, :visited) {
		--surface        : var(--primary);
		--text           : var(--neutral-1);

		font-family      : var(--font-serif);
		font-size        : var(--f-size-3);
		font-weight      : var(--f-weight-4);
		line-height      : var(--line-height-1);
		text-transform   : capitalize;
		color            : var(--text);
		background-color : var(--surface);
		border-radius    : var(--radius-2);
		transition       : background-color 150ms;
		min-block-size   : 5.6rem;
		min-inline-size  : 21.7rem;
	}

	&:where(:hover, :focus-visible) {
		--surface : #{color.mix(white, map-get($map-for-colors, 'primary'), 30%)};
		outline   : none;
	}

	&[data-disabled="true"] {
		--surface      : var(--neutral-3);
		pointer-events : none;
	}
}