@import '../abstracts/library/clamped';

.card {
	padding-inline   : var(--inline-space, var(--space));
	padding-block    : var(--block-space, var(--space));
	color            : var(--text);
	background-color : var(--surface, var(--primary));
	border-radius    : var(--radius, var(--radius-3));
	min-block-size   : var(--min-block);
	max-inline-size  : var(--max-inline);

	&:where(:hover, :focus-visible) {
		background-color : var(--surface-hover);
	}

	&[data-checked="true"] {
		color            : var(--text-checked);
		background-color : var(--surface-checked);
	}

	&__image {
		inline-size : 40%;
	}

	&__icon {
		margin          : var(--icon-justify);
		aspect-ratio    : 1 / 1;
		object-fit      : contain;
		max-inline-size : clamped(5rem, 7rem);
	}

	&__image > img {
		inline-size : 100%;
		block-size  : 100%;
	}

	&__content {
		text-align : var(--content-align, left);
	}

	&__title + &__description {
		margin-block-start : var(--description-space, var(--space));
	}

	.accordion & {
		--min-block       : #{clamped(16rem, 22rem)};
		--surface         : var(--neutral-2);
		--surface-checked : var(--primary);
		--surface-hover   : var(--tertiary);
		--text-checked    : var(--neutral-1);

		display           : block;
	}

	.service & {
		--block-space       : calc(var(--space-fluid-3) * 1.5);
		--content-align     : center;
		--description-space : var(--space-1);
		--icon-justify      : auto;
		--inline-space      : var(--space-fluid-3);
		--max-inline        : var(--measure-6);
		--surface           : var(--primary);
		--surface-hover     : var(--primary);

		margin-inline       : auto;

		@include breakpoint(between, em(619px) screen-xl) {
			--content-align : left;
		}
	}
}