
.feature {

	& + & {
		margin-block-start : var(--features-space)
	}

	&__body {
		inline-size : (--swtich-breakpoint);

		@include breakpoint(max, screen-md) {
			margin-inline : auto;
			inline-size   : fit-content;
		}
	}

	&__image {
		inline-size : 40%;
	}

	&__icon {
		margin          : var(--icon-space);
		aspect-ratio    : 1 / 1;
		object-fit      : contain;
		max-inline-size : clamped(5rem, 7rem);
	}

	&__image > img {
		inline-size : 100%;
		block-size  : 100%;
	}

	&__number {
		font-family : var(--number-font, var(--f-serif));
		font-size   : var(--number-f-size, var(--f-size-5));
		font-weight : var(--number-f-weight, var(--f-weight-4));
		color       : var(--number-color, var(--tertiary));
	}

	:where(&__image, &__icon, &__number) + &__content {
		margin-block-start : var(--content-space, var(--space-fluid-1));
	}

	&__content {
		display        : flex;
		flex-direction : column;

		text-align     : var(--content-align, left);
	}

	&__title {
		max-inline-size : var(--title-measure);
	}

	&__title + &__description {
		margin-block-start : var(--description-space, var(--space));
	}

	&__description {
		max-inline-size : var(--description-measure);
		align-self      : var(--description-align);
	}

	.steps & {
		--description-measure : var(--measure-2);
		--title-measure       : var(--measure-1);

		@include breakpoint(max, screen-md) {
			--description-measure : var(--measure-3);
			--title-measure       : 100%;
		}
	}

	.headquarters & {
		--content-space     : var(--space-fluid-3);
		--description-space : var(--space-1);

		@include breakpoint(max, em(709px)) {
			--content-align  : center;
			--features-space : var(--space-fluid-3);
			--icon-space   : auto;
		}
	}

	.products & {
		--description-space : var(--space-1);
		--content-align     : center;

		max-inline-size     : var(--measure-5);
		margin-inline       : auto;

		@include breakpoint(between, em(455px) screen-xl) {
			--content-align : left;
		}

		@include breakpoint(max, screen-xs) {
			--features-space      : var(--space-fluid-3);
			--description-measure : var(--measure-2);
			--description-align   : center;
		}
	}
}