
.footer {
	margin-bottom : 5rem;

	&__container {
		--space       : var(--space-fluid-3);

		padding-block : var(--space);
		display       : flex;

		@include breakpoint(max, tablet-md) {
			flex-direction : column;
			align-items: center;
		}
	}
}