
.footer {
	margin-block-end : var(--space-8);

	&__container {
		--space       : var(--space-fluid-3);

		padding-block : var(--space);
		display       : flex;

		@include breakpoint(max, tablet-md) {
			align-items    : center;
			flex-direction : column;
			gap            : var(--space);
		}
	}
}