
.footer {
	margin-block-end : var(--space-8);

	&__box {
		--space : var(--space-fluid-3);
	}

	&__content {
		display : flex;

		@include breakpoint(max, screen-md) {
			align-items    : center;
			flex-direction : column;
			gap            : var(--space);
		}
	}
}