
.half-surface {
	--radius  : var(--radius-3, 10px);
	--surface : var(--secondary, black);

	position  : relative;

	&::after {
		content          : "";
		position         : absolute;
		z-index          : -1;
		inset            : 0;
		background-color : var(--surface);
		border-radius    : var(--radius);
		block-size       : 65%;
	}
}