
.modal {
	--space  : 0;

	position : fixed;
	z-index  : layer(modal);
	inset    : 0;
	overflow : auto;

	&[data-modal-open="false"] {
		visibility : hidden;
		opacity    : 0;
	}

	&[data-modal-open="true"] {
		visibility : visible;
		opacity    : 1;
	}

	&::after {
		content          : "";
		position         : fixed;
		z-index          : -1;
		inset            : 0;
		background-color : hsl(0deg 0% 10% / 80%);
		//background-color : hsla(210, 11%, 96%, 0.96);
		backdrop-filter  : blur(4px);
	}

	&__container {
		position       : absolute;
		inset          : 0;
		padding-inline : var(--box-inline-space);
		display        : grid;
		place-items    : center;

		&::before,
		&::after {
			content     : "";
			display     : block;
			inline-size : 100%;
			block-size  : 6.5vh;
		}
	}

	&__body {
		background-color : var(--surface, var(--neutral-1));
		border-radius    : var(--radius, var(--radius-3));
		max-inline-size  : var(--measure, var(--measure-5));
		//box-shadow: 0 8px 12px #dadce1;
	}

	:where(&__header, &__content) {
		padding-inline : var(--inline-space, #{clamped(2.4rem, 5.6rem)});
		padding-block  : var(--block-space, #{clamped(2.8rem, 4.8rem)});
	}

	&__header {
		background-color        : var(--header-surface, var(--secondary));
		border-top-left-radius  : inherit;
		border-top-right-radius : inherit;
	}

	&__content {
	}

	&__cta {
		display         : flex;
		justify-content : space-between;
	}
}