
.navbar {
	--space         : var(--space-fluid-3);

	position        : relative;
	z-index         : layer('navbar');
	padding-block   : var(--space);
	display         : flex;
	align-items     : center;
	justify-content : space-between;

	&__hamburger {
		display : none;

		@include breakpoint(max, tablet-min) {
			display     : grid;
			place-items : center;
		}
	}
}