
.navbar {
	position        : relative;
	display         : flex;
	align-items     : center;
	justify-content : space-between;
	padding-block   : var(--space-4);

	&__hamburger {
		display : none;

		@include breakpoint(min, tablet-min) {
			display     : grid;
			place-items : center;
		}
	}

	&__menu {
		&[data-menu-open="false"] {
			display : none;
		}

		&[data-menu-open="true"] {
			display : block;
		}

		@include breakpoint(max, tablet-min) {
			position  : absolute;
			inset     : auto 0 0;
			transform : translateY(100%);
		}
	}

	&__menu-list {
		display : flex;
		gap     : var(--space-4);

		@include breakpoint(max, tablet-min) {
			background-image : linear-gradient(to bottom, var(--neutral-4), transparent);
			align-items      : center;
			flex-direction   : column;
			padding-block    : var(--space-4);
		}
	}

	&__item {
		font-size      : var(--f-size-1);
		font-weight    : var(--f-weight-3);
		text-transform : uppercase;
		color          : var(--neutral-4);

		@include breakpoint(max, tablet-min) {
			font-family    : var(--font-serif);
			font-size      : var(--f-size-4);
			font-weight    : var(--f-weight-4);
			text-transform : capitalize;
			color          : var(--primary);
		}

		a {
			text-decoration : none;
			color           : inherit;
		}
	}


}