
.cover {
	position            : relative;
	padding-block       : clamped(9.4rem, 12.2rem);
	background-position : center;
	display             : flex;
	align-items         : flex-start;
	flex-direction      : column;
	isolation           : isolate;

	@include breakpoint(max, tablet-min) {
		text-align  : center;
		align-items : center;
	}

	& > h1 {
		max-inline-size : var(--measure-1);
	}

	& > h1 + p {
		--space   : var(--space-3);
		--measure : var(--measure-4);
	}

	& > :where(button, a) {
		margin-block-start : var(--space-6);
	}
}

