
.grid {
	display               : grid;
	grid-template-columns : repeat(auto-fit, minmax(min(var(--measure, var(--measure-5)), 100%), 1fr));
	grid-gap              : var(--space, #{$author-default-space});
}
